{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ],
  "singleQuote": true,
  "semi": false,
  "vueIndentScriptAndStyle": true,
  "singleAttributePerLine": true
}
